In [20]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc
import pandas as pd

# plot style
sns.set_style('whitegrid')
sns.set_style({'font.family': 'Times New Roman'})

In [21]:
base = "../analysis/data/one-hour-run-data/"
run_log_32_no_env = "run_log_32_1h_and_5h_no_env.csv"
run_log_32_no_env_ds = "run_log_32_ds_1h_and_5h_no_env.csv"
run_log_32 = "run_log_32_1h_and_5h.csv"
run_log_32_ds = "run_log_32_ds_1h_and_5h.csv"

run_log_36_no_env = "run_log_36_1h_no_env.csv"
run_log_36_no_env_ds = "run_log_36_ds_1h_no_env.csv"
run_log_36 = "run_log_36_1h.csv"
run_log_36_ds = "run_log_36_ds_1h.csv"

run_log_40_no_env = "run_log_40_1h_no_env.csv"
run_log_40_no_env_ds = "run_log_40_ds_1h_no_env.csv"
run_log_40 = "run_log_40_1h_and_5h.csv"
run_log_40_ds = "run_log_40_ds_1h_and_5h.csv"

In [22]:
df = pd.read_csv(base+run_log_36, sep="\t", names=["doi", "file", "result"])

In [23]:
df.head()

,doi,file,result
0,doi:10.7910/DVN/XFQZI2,Condemnation.R,Error in read.dta13('Condemnation.dta') : co...
1,doi:10.7910/DVN/WGPDBS,Replication_of_Figures.R,success
2,doi:10.7910/DVN/BPON3K,fig_10_effect_of_winning_on_gov.R,"Error in vcovHC(DMareg, type = 'HC3') : could ..."
3,doi:10.7910/DVN/BPON3K,fig_11_rd_placebo.R,success
4,doi:10.7910/DVN/BPON3K,fig_12_historical_trend.R,success

In [24]:
dfds = pd.read_csv(base+run_log_36_ds, sep="\t", names=["doi", "a", "b"])

In [25]:
dfds.head()

                      doi    a   b
0  doi:10.7910/DVN/XFQZI2  all  ok
1  doi:10.7910/DVN/WGPDBS  all  ok
2  doi:10.7910/DVN/BPON3K  all  ok
3  doi:10.7910/DVN/ZWAGXZ  all  ok
4  doi:10.7910/DVN/JXXNDO  all  ok

In [26]:
done = df.doi.append(dfds.doi)

In [27]:
done.head()

0    doi:10.7910/DVN/XFQZI2
1    doi:10.7910/DVN/WGPDBS
2    doi:10.7910/DVN/BPON3K
3    doi:10.7910/DVN/BPON3K
4    doi:10.7910/DVN/BPON3K
Name: doi, dtype: object

In [28]:
len(done)

9120

In [29]:
len(dfds)

2894

In [30]:
done = set(done)

In [31]:
len(done)

2130

In [32]:
df1 = pd.read_csv("../get-dois/dataset_dois.txt", sep="\t", names=["doi"])

In [33]:
df1.head()

                      doi
0  doi:10.7910/DVN/U3QJQZ
1  doi:10.7910/DVN/Z7H44N
2  doi:10.7910/DVN/HRLHA4
3  doi:10.7910/DVN/RJWU7A
4  doi:10.7910/DVN/FAAMAX

In [34]:
notdone = set(df1.doi)

In [35]:
len(notdone)

2170

In [36]:
notdone = notdone - done

In [37]:
len(notdone)

40

In [38]:
notdone

{'doi:10.7910/DVN/3LOR3R',
 'doi:10.7910/DVN/6YNZTE',
 'doi:10.7910/DVN/82CULX',
 'doi:10.7910/DVN/8QLBSA',
 'doi:10.7910/DVN/9SAX3K',
 'doi:10.7910/DVN/ABT3OE',
 'doi:10.7910/DVN/AGUVBE',
 'doi:10.7910/DVN/AIP0V8',
 'doi:10.7910/DVN/BIZFP2',
 'doi:10.7910/DVN/BJNAPD',
 'doi:10.7910/DVN/BSUNGB',
 'doi:10.7910/DVN/BWU4M5',
 'doi:10.7910/DVN/DJKH4H',
 'doi:10.7910/DVN/EB8DD8',
 'doi:10.7910/DVN/FYGHFO',
 'doi:10.7910/DVN/GFRHAK',
 'doi:10.7910/DVN/HFIV1A',
 'doi:10.7910/DVN/HHOIA4',
 'doi:10.7910/DVN/HTMX3K',
 'doi:10.7910/DVN/IDJAWT',
 'doi:10.7910/DVN/JYLWH1',
 'doi:10.7910/DVN/L8N4TR',
 'doi:10.7910/DVN/LNMEXL',
 'doi:10.7910/DVN/MCWFCS',
 'doi:10.7910/DVN/POGK8L',
 'doi:10.7910/DVN/Q0OHLV',
 'doi:10.7910/DVN/S9G9XS',
 'doi:10.7910/DVN/SK7JVV',
 'doi:10.7910/DVN/SKPPLH',
 'doi:10.7910/DVN/STH14F',
 'doi:10.7910/DVN/TCYTEO',
 'doi:10.7910/DVN/TPZPIO',
 'doi:10.7910/DVN/TVNVN3',
 'doi:10.7910/DVN/UO5XSW',
 'doi:10.7910/DVN/V3LLLE',
 'doi:10.7910/DVN/VCFMBI',
 'doi:10.7910/DVN/VLS3XL',
 'doi:10.7910/DVN/Y3VPIG',
 'doi:10.7910/DVN/YUUXKU',
 'doi:10.7910/DVN/ZPC0D3'}

# Conclustion: 40 (2%) is OK